@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/Background-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #cfa6a6;
}
a {
  text-decoration: none;
}
nav {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  /* background: rgba(11, 5, 29, 0.966); */
}
.nav-items {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.logo {
  color: #fff;
  transition: 0.2s;
}
.nav-items li {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}
.logo:hover,
.nav-items a:hover {
  color: rgb(255, 0, 0);
}
.nav-items a {
  color: #fff;
  transition: 0.3s;
}

/* optimize navbar for ipad screen */
@media (max-width: 1000px) {
  .nav-items li {
    padding: 5px;
    font-size: 14px;
  }
}

/* optimize navbar for mobile phone */
@media (max-width: 850px) {
  .nav-items {
    height: 320px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 70px;
    flex-direction: column;
    right: -100%;
    z-index: 99;
    transition: 0.2s ease-in;
    background: #d0a4a4;
    border-radius: 10px;
  }
  .nav-items li {
    width: 100%;
    justify-content: center;
  }
  .bars {
    height: auto;
    width: 22px;
    cursor: pointer;
  }

  .bars .bar {
    height: 2px;
    width: 100%;
    background: #fff;
    margin: 4px;
  }
}

/* The active class below will be used to toggle the nav -items in JS */
nav .nav-items.active {
  right: 0;
}

/* style the content of the page */
.content {
  font-family: "Varela Round", sans-serif;
  height: 92.3vh;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-direction: column;
}
.content p {
  font-size: 25px;
  color: #fff;
}
.content a {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bolder;
  color: #fff;
}
.content a:hover {
  color: red;
}
